%p#notice= notice

.navbar
  .navbar-inner
    %ul.nav
      %li.divider-vertical
      %li
        = link_to 'Edit', edit_admin_sermon_path(@sermon)
      %li.divider-vertical
      %li
        = link_to 'Back', admin_sermons_path
      %li.divider-vertical

%h1= "#{@sermon.title} - #{@sermon.date}"
%hr
= @sermon.body.html_safe
