- Sermon.limit(3).order("date DESC").all.each_with_index do |sermon, index|
  %section{class: "col1 #{index > 0 ? "pad_left1": nil}"}
    %h4.color2
      %span>="#{sermon.date.strftime("%B ")} #{sermon.date.day.ordinalize}"
      = sermon.date.year
    %p.pad_bot2
      %strong= sermon.title
      %strong= " - #{sermon.preacher}"
    %p= sermon.summary 
    = link_to "Listen Now", sermon, class: "button2"
